.carousel-caption h5 {
  font-size: 2.5vh;
  font-weight: 800;
  text-shadow: 1px 1px 2px black;
}

.carousel-caption {
  font-size: 2.5vh;
  font-weight: 300;
  text-shadow: 1px 1px 2px black;
}

.carousel-item {
   height: 40vh;
}

.btn-primary {
	margin: 10px 0;
}

.image-carousel{
	background-image: cover;
}

.frodon {
	width: 140px;
}

.profile {
width: 80px
}

.jumbotron {
	padding: 1em;
}

.rounded-circle {
	width: 110px;
}

.container-fluid {
	padding-left: 5px;
	padding-right: 5px;
}

div .blue {
	border: 2px solid blue;
}

.footer {
	background-color: gray;
	color: white;
	text-decoration: none;
}

.footer a {
	color: white;
}

/* CSS ANIMATION GANDALF */


.animation-gandalf {
  position: relative;
  display: flex;
  flex-direction: column;
  
}

.gandalf-anim {
  width:100%;
  opacity:0.4;
  transition: 0.3s;
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index:3;
  font-size:30px;
  font-family: arial;
  font-weight: 300;
}

aside {
  position: absolute;
  width:80%;
  height: 30%;
  top: 4%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius:10px;  
  padding: 5px;
  display: flex;
  flex-direction: column;
  z-index:1;
  margin-left: 10%;

}

aside p {
  font-family: arial;
  margin: auto;
  font-size: 1.25em;
}

aside span {
  color: #ff7b00;
  font-family: arial;
}

.gandalf-anim:hover {
  position: relative;
  opacity:1;
  z-index:1;
}

.animation-gandalf:hover .player {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index:2;
  font-size:2vh;
  font-family: arial;
  font-weight: 300;
  transition: 0.3s;
}